@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply flex-none rounded-md bg-gradient-to-br from-secondary to-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:from-secondary-dark hover:to-primary-dark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-tertiary;
  }
}

@layer utilities {
  .hero-bg {
    background-image: url("/images/hero-bg.png");
    background-size: cover;
  }

  .card,
  .bg-floral-frame {
    position: relative;
    z-index: 0;
  }

  .card::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-image: url("/images/pattern.png");
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.15;
    width: 100%;
    height: 100%;
  }

  .bg-floral-frame::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-image: url("/images/floral-frame.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    bottom: -350px;
    right: -350px;
    opacity: 0.1;
    width: 700px;
    height: 700px;
    animation: spin 60s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  ins.adsbygoogle[data-ad-status="unfilled"] {
    display: none !important;
  }
}
